body {
    background-image: url('http://s011.radikal.ru/i316/1708/d4/9a482484f75f.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

#thesis_quote {
    text-align: center;
    word-wrap: normal;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 62px;
    font-style: italic;
    width: 100%;
    margin: 0.25em 0;
    padding: 7% 0 0 0;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    content: "\201C";
    font-size: 120px;
    position: relative;
    top: 25px;
    color: #7a7a7a;
    height: 0px;
}

blockquote cite {
    color: #999999;
    font-size: 36px;
    display: block;
    margin-top: 5px;
}
     
blockquote cite:before {
    content: "\2014 \2009";
}