<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <blockquote id="thesis_quote">
        <span id="thesis">Text</span>
        <cite id="speaker">Джейсон Стэтхем</cite>
    </blockquote>
    <script>
    (function poll() {
        setTimeout(function() {
            $.ajax({ url: "/update", data: ('text=' + $('#thesis').text()), success: function(data) {
                $('#thesis').fadeOut(500, function() {
                    $(this).text(data.text).fadeIn(500);
                });
                $('#speaker').fadeOut(500, function() {
                    $(this).text(data.speaker).fadeIn(500);
                });
            }, dataType: "json", complete: poll });
         }, 1000);
    })();
    </script>
</body>